<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_PASS}</password>
      <id>win-mycare-virtual</id>
    </server>
    <server>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_PASS}</password>
      <id>win-mycare</id>
    </server>
    <server>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_PASS}</password>
      <id>win-mycare-snapshots</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>win-mycare-virtual</id>
      <name>win-mycare-virtual</name>
      <url>https://vzcdaas.jfrog.io/artifactory/win-mycare-virtual</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>
